@font-face {
    src: url('../font/NotoSansKR-Thin.woff') format('woff');
    font-family: 'Noto Sans KR';
    font-weight: 100;
    font-style: normal;
}
@font-face {
    src: url('../font/NotoSansKR-Light.woff') format('woff');
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-style: normal;
}
@font-face {
    src: url('../font/NotoSansKR-Regular.woff') format('woff');
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url('../font/NotoSansKR-Medium.woff') format('woff');
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-style: normal;
}
@font-face {
    src: url('../font/NotoSansKR-Bold.woff') format('woff');
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-style: normal;
}
@font-face {
    src: url('../font/NotoSansKR-Black.woff') format('woff');
    font-family: 'Noto Sans KR';
    font-weight: 900;
    font-style: normal;
}